[Desktop Entry]
Version=1.0
Type=Application
Name=ROPER
GenericName=Rap lyrics editor
Comment=Write and organize rap lyrics and raw material
Exec=roper
TryExec=roper
Icon=org.rmml.roper
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true
StartupWMClass=org.rmml.roper
Keywords=rap;lyrics;text;editor;writing;
